

  <%if(allTests && allTests.length){%>
    <h1>List of all tests</h1>
    <br>

<section class="ezy__pricing12" id="user-tests">
    <div class="ezy__pricing12-bg-holder"></div>
    <div class="container">
      <div class="row justify-content-center text-center">
      </div>
      <!-- cards starts-->
      <div class="row justify-content-center">
      <%for(test of allTests){%>
            <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-5">
                <div class="card">
                  <div class="position-relative">
                    <img src="<%= test.image.url %>" class="card-img-top" alt="..." />
                  </div>
                  <div class="card-body">
                    <a>
                      <p class="card-text mb-2"><%= test.category %></p>
                    </a>
                    <a>
                      <h5 class="card-title mb-2"><%= test.name %></h5>
                    </a>
                    <p class="card-text"><%= test.introduction.substring(0, 56) + (test.introduction.length > 56 ? '...' : '') %></p>
                    <div class="d-flex justify-content-between mb-2">
                      <div class="d-flex align-items-center">
                      </div>
                      <a href="/api/v1/test/<%= test._id %>" class="btn btn-outline d-flex align-items-center">See in detail</a>
                    </div>
                  </div>
                </div>
              </div>
        <% } %>
      <!-- cards ends-->
    </div>
  </section>
  <% } %>
