<%- include('../layout/header.ejs') %>

<div class="alert alert-danger" role="alert">
    <%= err %>
    <p><%= err.message %></p>
    <%= err.stack %>
  </div>

<%- include('../layout/footer.ejs') %>