<%- include('../layout/header.ejs') %>
<h1 class="home-title">All Users</h1>
<div class="dash-users">


<!-- Bootstrap tables -->
<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User name</th>
      <th scope="col">Profession</th>
      <th scope="col">Joining date</th>
    </tr>
  </thead>
  <tbody>
    <% for( let index = 0; index < users.length; index++ ) { %>
      <tr>  
          <th scope="row"><%= index+1 %></th>
    <td>      <a href="/api/v1/user/<%= users[index]._id %>">
      <%= users[index].username %> </a></td>
    <td><%= users[index].profession %></td>
    <td><%= new Date(users[index].createdAt).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
  </tr>
    <% } %>
    
  </tbody>
</table>


<hr>
<h1 class="home-title">All Tests</h1>
<br>

<div id="dash-tests">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Posted by</th>
        <th scope="col">Posted at</th>
      </tr>
    </thead>
    <tbody>
      <% for( let index = 0; index < tests.length; index++ ) { %>
        <tr>  
            <th scope="row"><%= index+1 %></th>
      <td>      <a href="/api/v1/test/<%= tests[index]._id %>">
        <%= tests[index].name %> </a></td>
        <td><%= tests[index].category %></td>
      <td><%= tests[index].user.username %></td>
      <td><%= new Date(tests[index].date).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
    </tr>
      <% } %>
      
    </tbody>
  
      
    </tbody>
  </table>
</div>



<hr>
<%- include('../layout/footer.ejs') %>