<%- include('../layout/header.ejs') %>
<div class="content">
  <% if (users && users.length > 0) { %>
    <div class="section">
      <h2>List of All Users</h2>
      <div class="table-container">
          <table class="user-table">
              <tbody>
                
                  <tr>
                      <th>User name</th>
                      <th>Profession</th>
                      <th>Joining date</th>
                      <th>Action</th>
                  </tr>
                  <% for( let index = 0; index < users.length; index++ ) { %>
                    <tr>
                      <td><a href="/api/v1/user/<%= users[index]._id %>"><%= users[index].username %></a></td>
                      <td><%= users[index].profession %></td>
                      <td><%= new Date(users[index].createdAt).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
                      <td><form action="/api/v1/user/<%= users[index]._id %>/delete?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-sm btn-danger d-flex align-items-center">Delete User</button>
                      </form></td>
                  </tr>
                  
                    <% } %>
                  
                 
              </tbody>
          </table>
      </div>
  </div>
  <% } %>
  <div class="section">
      <h2>List of All Tests</h2>
      <div class="table-container">
          <table class="test-table">
              <tbody>
                
                  <tr>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Posted by</th>
                      <th>Posted at</th>
                      <th>Action</th>
                  </tr>
                  <% if (tests && tests.length > 0) { %> 
                    <% for( let index = 0; index < tests.length; index++ ) { %>
                      <tr>  
                          <td><a href="/api/v1/test/<%= tests[index]._id %>"><%= tests[index].name %></a></td>
                          <td><%= tests[index].category %></td>
                          <td><%= tests[index].user.username %></td> 
                          <td><%= new Date(tests[index].date).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
                          <td>
                            <form action="/api/v1/test/delete/<%= tests[index]._id %>?_method=DELETE" method="post">
                              <button type="submit" class="btn btn-sm btn-danger d-flex align-items-center">Delete Test</button>
                            </form>
                          </td>
                      </tr>
                    <% } %> 
                  <% } else { %>
                    <tr>
                      <td colspan="6" class="text-center">No tests found.</td> 
                    </tr>
                  <% } %>
                  
              </tbody>
          </table>
      </div>
  </div>
  <div class="section">
      <h2>List of All Jobs</h2>
      <div class="table-container">
          <table class="job-table">
              <tbody>
                  <tr>
                      <th>Title</th>
                      <th>Company</th>
                      <th>Posted by</th>
                      <th>Posted at</th>
                      <th>Action</th>
                  </tr>
                  <% if (jobs && jobs.length > 0) { %> 
                    <% for( let index = 0; index < jobs.length; index++ ) { %>
                      <tr>  
                          <td><a href="/api/v1/job/<%= jobs[index]._id %>"><%= jobs[index].title %></a></td>
                          <td><%= jobs[index].companyName %></td>
                          <td><%= jobs[index].postedBy.username %></td> 
                          <td><%= new Date(jobs[index].postedAt).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></td>
                          <td>
                            <form action="/api/v1/job/<%= jobs[index]._id %>/delete?_method=DELETE" method="post">
                              <button type="submit" class="btn btn-sm btn-danger d-flex align-items-center">Delete Job</button>
                            </form>
                          </td>
                      </tr>
                    <% } %> 
                  <% } else { %>
                    <tr>
                      <td colspan="6" class="text-center">No jobs found.</td> 
                    </tr>
                  <% } %>
                  
              </tbody>
          </table>
      </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>