<%- include('../layout/header.ejs') %>



<section class="ezy__blogdetails2" id="ezy__blogdetails2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <h1 class="ezy__blogdetails2-heading"><%= test.name %></h1>
  
          <div class="d-flex justify-content-between my-5 me-5">
            <div class="d-flex align-items-center">
              <div class="me-2">
                <a href="/api/v1/user/<%= test.user._id %>">
                  <img
                  src="<%= test.user.avatar.url %>"
                  alt=""
                  class="img-fluid rounded-circle border img-thumbnail"
                  width="47"
                />
                </a>
              </div>
              <div>
                <p class="mb-0">By<b> <%= test.user.username %> </b></p>
              </div>
              <p class="mb-0 ms-3"><%= new Date(test.date).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></p>
            </div>
          </div>
          <p><b>Category:</b> <i>"<%= test.category %>"</i></p>
          <img src="<%= test.image.url %>" alt="" class="img-fluid rounded" />
  
          <div class="ezy__blogdetails2-content mt-5">
            <p>
                <%= test.introduction %>
            </p>
            <!-- ____________ -->
            <p><b>Equipments:</b></p>
<ol>
    <% for( equipment of test.equipments ) { %>
        <li><%= equipment %></li>
    <% } %>
</ol>
<p><b>Sampling:</b></p>
<ol>
    <% for( sample of test.sampling ) { %>
        <li><%= sample %></li>
    <% } %>
</ol>
<br>
<p><b>Procedure:</b></p>
<ol>
  <% for( procedure of test.procedure ) { %>
    <li><%= procedure %></li>
<% } %>
</ol>
<br>
<pre><b>Formula: </b> <%= test.formula %></pre>
<br>
<pre><b>Results: </b><%= test.result %></pre>
<br>


    <% if (currUser && currUser._id.toString() === test.user._id.toString()) { %>
        <div class="buttons">
            <a class="btn btn-lg btn-success" href="/api/v1/test/update/<%= test._id %>">Edit</a>
        <br>
        <a href="https://api.whatsapp.com/send?text=Check out this test on Naxgat: https://naxgat.com/api/v1/test/<%= test._id %> - <%= encodeURIComponent(test.name) %>" target="_blank" class="btn btn-info">
          <i class="fa-solid fa-share-from-square"></i> &nbsp; &nbsp;Share
        </a>
        
        <br>
        <form action="/api/v1/test/delete/<%= test._id %>?_method=DELETE" method="post">
            <button class="btn btn-lg btn-danger">Delete</button>
        </form>

        
        
        </div>
    <% } %>


<br>
<hr>
           <!-- _____More test in same category_______ -->

          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card ezy__blogdetails2-posts border-0">
            <div class="card-header py-3 border-0">
              <h5 class="mb-0">More Tests in <%= test.category %> category</h5>
            </div>
            <div class="card-body py-4">
              <!-- blog item -->

              <% for( t of similarTests ) { %>
                <div class="ezy__blogdetails2-item d-flex justify-content-between align-items-start">
                    <a href="/api/v1/test/<%= t._id %>">
                      <img
                      src="<%= t.image.url %>"
                      alt=""
                      class="img-fluid rounded right-side-image"
                    />
                    </a>
                    <div class="ms-3">
                      <h6><%= t.name %></h6>
                      <div class="d-flex flex-wrap opacity-50">
                        <span class="me-3"><%= new Date(t.date).toLocaleString('default', { month: 'long', day: 'numeric', year: 'numeric' }) %></span>
                        <span>By <b><%= t.user.username %></b></span>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4" />
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('../layout/footer.ejs') %>